{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}
<ul class="list--inline pagination">
  {%- unless paginate.previous.is_link -%}
    <li aria-hidden="true">
      <span class="page_border" disabled>
        <span class="icon__text">{{ 'general.pagination.previous' | t }}</span>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </span>
    </li>
    {%- else -%}
    <li>
      <a href="{{ paginate.previous.url }}" class="page_border">
        <span class="icon__text">{{ 'general.pagination.previous' | t }}</span>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </li>
  {%- endunless -%}
 {%- for part in paginate.parts -%}
  {%- if part.is_link -%}
  <li><a href="{{ part.url }}" class="page_border">{{ part.title }}</a></li>
  {%- else -%}
  {%- if part.title == paginate.current_page -%}
  <li class="active" aria-current="page"><span class="page_border">{{ part.title }}</span></li>
  {%- else -%}
  <li><span class="page_border">{{ part.title }}</span></li>
  {%- endif -%}
  {%- endif -%}
  {%- endfor -%}
  {%- unless paginate.next.is_link -%}
    <li aria-hidden="true">
      <span class="page_border" disabled>        
        <span class="icon__text">{{ 'general.pagination.next' | t }}</span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </li>
  {%- else -%}
    <li>
      <a href="{{ paginate.next.url }}" class="page_border">
        <span class="icon__text">{{ 'general.pagination.next' | t }}</span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </li>
  {%- endunless -%}
</ul>