{{ 'custom-footer.css' | asset_url | stylesheet_tag  }}
{% style %}
  .cst-footer{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  {% if section.settings.bg_color != blank %}
    .bg_color_{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}  
  .bg_color_{{ section.id }} h4, .bg_color_{{ section.id }} p , .bg_color_{{ section.id }} p a , .bg_color_{{ section.id }} a  {
    color: {{ section.settings.font_color }};
  }
{% endstyle %}  
<div class="cst-footer bg_color_{{ section.id }}">
  <div class="page-width">
    <div class="cst-footer-content">
      <div class="cst-footer-wrapper">
        {% for block in section.blocks %}
            <div class="grid_wrapper">
            {% case block.type %}            
              {% when 'text' %}
              <div class="customer_service">
                {% if block.settings.title != blank %} <h4 class="footer_block_heading">{{ block.settings.title }}</h4> {% endif %}
                {% if block.settings.address != blank %}
                  <div class="address">
                    {{ block.settings.address }}
                  </div>
                {% endif %}  
              </div>
              {%- assign socials = 'Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo' | split: ' ' -%}
              <ul class="list--inline site-footer__social-icons social-icons site-footer__icon-list">
                      {%- for social in socials -%}
                        {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                        {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                        {%- if settings[social_link] != blank -%}
                          <li class="social-icons__item">
                            <a
                              class="social-icons__link"
                              href="{{ settings[social_link] | escape }}"
                              aria-describedby="a11y-external-message"
                            >
                              {%- include icon_link -%}
                              <span class="icon__fallback-text">{{ social }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endfor -%}
                    </ul>
              {% when 'footer_menu' %}
              <div class="footer_menu_wrapper">
                {% if block.settings.title != blank %} <h4 class="footer_block_heading">{{ block.settings.title }}</h4> {% endif %}
                <ul>
                  {% for link in block.settings.footer_menu.links %}
                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                  {% endfor %}  
                </ul>
              </div>
            {% endcase %}  
            </div>  
        {% endfor %}
      </div>
      <div class="cst-footer-left">
        <div class="grid_wrapper">
          <h4 class="footer_block_heading">{{ section.settings.news-title }}</h4>
        <P>{{ section.settings.news_desc }}</P>
        {% form 'customer', id: formId, novalidate: 'novalidate' %}
                      {%- if form.posted_successfully? -%}
                        <p class="form-message form-message--success" tabindex="-1" data-form-status>
                          {{ 'general.newsletter_form.confirmation' | t }}
                        </p>
                      {%- endif -%}
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <div class="input-group {% if form.errors %} input-group--error{% endif %}">
                        <input
                          type="email"
                          name="contact[email]"
                          id="{{ formId }}-email"
                          class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                          value="{{ form.email }}"
                          placeholder="Your email here"
                          aria-label="Your email here"
                          aria-required="true"
                          required
                          autocorrect="off"
                          autocapitalize="off"
                          {% if form.errors %}
                            aria-invalid="true"
                            aria-describedby="{{ formId }}-email-error"
                            data-form-status
                          {% endif %}
                        >
                        <span class="input-group__btn">
                          <button type="submit" class="btn btn--link newsletter__submit" name="commit">
                          <p>Subscribe</p> 
                            <span class="newsletter__submit-text--large">
                              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M22.6299 2.78005L18.8699 20.25C18.7899 20.63 18.5399 20.95 18.1899 21.12C17.8399 21.29 17.4399 21.29 17.0799 21.12L14.2799 19.76C14.2799 19.76 10.6999 22.35 9.96988 22.69C9.82988 22.76 9.76988 22.75 9.66988 22.75C9.47253 22.7506 9.28296 22.6731 9.14248 22.5345C9.002 22.3959 8.92199 22.2074 8.91988 22.01V16.7C8.90988 16.59 8.91988 16.48 8.97988 16.37C9.03988 16.26 8.98988 16.35 8.99988 16.34C9.02988 16.29 9.05988 16.24 9.09988 16.19L18.3099 6.11005L6.85988 15.53C6.73671 15.6562 6.57329 15.7352 6.39795 15.7535C6.2226 15.7717 6.0464 15.7281 5.89988 15.63L2.04988 13.89C1.61988 13.68 1.34988 13.26 1.32988 12.78C1.31988 12.31 1.56988 11.87 1.98988 11.64L20.7899 1.41005C21.2299 1.17005 21.7499 1.21005 22.1599 1.51005C22.5599 1.81005 22.7399 2.30005 22.6399 2.78005H22.6299Z" fill="#CACED2"/>
                              </svg>
                              </span>
                          </button>
                        </span>
                      </div>
                      {% if form.errors contains 'email' %}
                        <span id="{{ formId }}-email-error" class="input-error-message">
                          <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                          {% include 'icon-error' %}
                          <span class="site-footer__newsletter-error">
                            {{- form.errors.translated_fields.email | capitalize }}
                            {{ form.errors.messages.email }}.</span
                          >
                        </span>
                      {% endif %}
                    {% endform %}
               {% if section.settings.show_payment_icons %}    
                <div class="desc-pay-icon">
                <p class="pay-icon-title">{{ section.settings.payment-title }}</p>
               <ul class="payment-icons list--inline site-footer__icon-list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-icon">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
              </div>
              {% endif %}   
        </div>
      </div>
    </div>
  </div>
</div>
<div class="small--hide copyright-txt {% if show_selectors or show_payment_icons %}site-footer-item-center-vertically{% endif %}">
  <div class="page-width">
    <div class="mob-pay-icon">
       <p class="pay-icon-title">{{ section.settings.payment-title }}</p>
               <ul class="payment-icons list--inline site-footer__icon-list">
                {%- for type in shop.enabled_payment_types -%}
                  <li class="payment-icon">
                    {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                  </li>
                {%- endfor -%}
              </ul>
    </div>
   <div class="copyright"> 
  <small class="site-footer__copyright-content"
    >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
  </small>
  <small class="site-footer__copyright-content site-footer__copyright-content-powered-by">
    {{- powered_by_link -}}
  </small>
   <div>  
  </div> 
</div>  

{% schema %}
  {
    "name": "Custom Footer",
    "settings": [
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color"
      },
      {
        "type":"color",
        "id":"font_color",
        "label":"Font Color"
      },
      {
        "type": "text",
        "id": "news-title",
        "label": "Newsletter Title"
      },
      {
        "type": "text",
        "id": "news_desc",
        "label": "Newsletter Description"
      },
      {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "show payment icons",
      "default": false
      },
      {
        "type": "text",
        "id": "payment-title",
        "label": "Payment title"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "blocks":[
      {
        "type": "text",
        "name": "text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "heading"
          },
          {
            "type": "richtext",
            "id": "address",
            "label": "Text"
          }
        ]
      },
      {
        "type":"footer_menu",
        "name":"footer_menu",
        "settings":[
          {
            "type": "text",
            "id": "title",
            "label": "heading"
          },
          {
            "type": "link_list",
            "id": "footer_menu",
            "label": "Menu"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Footer"
      }
    ]
  }
{% endschema %}