<div class="faq_section_blocks {% if section.settings.new_faq %}new_faq{% endif %} {% if section.settings.image != blank %}bg_img{% endif %}" style="padding-top:{{ section.settings.padding_top }}px;padding-bottom:{{ section.settings.padding_bottom }}px;" >
  <div class="inner_faq_section_blocks">
     {% if section.settings.title != blank %}
       <h2 class="ttl_replenish after_border block-desc" style="color:{{ section.settings.title_color}}">
         {{ section.settings.title }}
       </h2>
       <h2 class="ttl_replenish block-mob">
         {{ section.settings.mob_title }}
       </h2>
     {% endif %}
     <p class="static-faq-desc mob_title">{{ section.settings.static-desc }}</p>
     <div class="inner_div_faq">
       <ul class="faq_items_div">
         {% for block in section.blocks %}
           <li class="faq_items">
             <div class="faq_ttl">
               {% if block.settings.title != blank %}
                 <h3 class='acc_ttl'>
                 <span class="plus_symbol">
                   {% if template.suffix == 'new-static-page' or template.suffix == 'new-static-nitric-oxide' %}
                     <img src="https://cdn.shopify.com/s/files/1/0473/6679/9525/files/Group_1-plus.png?v=1706853422" alt="plus">
                     {% else %}
                     <img src="{{ 'plus.png' | asset_url }}" alt="plus" title="plus" />
                   {% endif %}
                 </span>
                 <span class="ttl_dv">{{ block.settings.title }}</span></h3>{% endif %}
             </div>
             <div class="body_faq">
               {% if block.settings.content != blank %}
                 <div class="inner_body_faq">
                 {{ block.settings.content }}
               </div>
                 {% endif %}
             </div>
           </li>
           {% endfor %}
       </ul>
     </div>
     {% if section.settings.btn_ttl != blank and section.settings.btn_url != blank %}<div class="faq_btn"><a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_ttl }}</a></div>{% endif %}
      {%- if section.settings.bottom_text != blank -%}    
        <div class="faq-bottom-text">
          <a href="{% if section.settings.bottom_btn_url != blank %}{{ section.settings.bottom_btn_url }} {% else %} javascript:void(0); {% endif %}" class="bottom_text trigger_click_btn">{{ section.settings.bottom_text }}</a>
        </div>
      {%- endif -%}  
  </div>
</div>
<style>
    .bg_img{background: url({{ section.settings.image | img_url:'master' }}) no-repeat scroll 0 0; background-size: cover;} 
    .faq_btn {padding-top: 30px;}
    .faq_btn .btn {font-size: 36px;line-height: 56px;letter-spacing: .3px;background: linear-gradient(180deg,#00aeee 0%,#008be5 6%,#0072dc 45%);border-radius: 20px;padding: 19px 25px;min-width: 598px;  } 
    .page-new-static-page .block-mob{display: none;}
    .new_faq .inner_body_faq{    background: #374151;}
    .acc_ttl{text-align: left;}
    .inner_body_faq p a {color: #fff;}
    /* .faq-bottom-text a.bottom_text {font-size: 28px;text-transform: uppercase;font-weight: 500;border: 2px solid rgb(104, 160, 55);border-radius: 10px;width: max-content;padding: 15px 25px;margin-top: 60px;color: #000;} */
    .faq-bottom-text a.bottom_text {font-family: Figtree !important;font-size: 23px;text-transform: uppercase;color: #fff;font-weight: 800;font-family: Figtree;border-radius: 16px;background-color: #384151;padding: 16px 20px;max-width: max-content;width: 100%;display: inline-block;text-align: center;margin-top: 60px;}
    @media(max-width: 1199px){
    .faq_btn .btn{padding: 10px 25px;min-width: 498px;font-size: 30px;line-height: 50px;}
    }
    @media(max-width: 992px){
      .page-new-static-page .faq_ttl {
        background: transparent;
        border: none;
      }
      .page-new-static-page .faq_items {
        border-bottom: 4px solid #d3d3d4;
      }
      .page-new-static-page .ttl_dv {
        font-size: 22px;
        letter-spacing: 0px;
        line-height: 52px;
        color: #384151;
        font-weight: 600;
        order: 1;
      }
      .page-new-static-page .plus_symbol {
        order: 2;
      }
      .page-new-static-page .plus_symbol img {
        display: none;
      }
      .page-new-static-page .acc_ttl {
        position: relative;
      }
      .page-new-static-page .plus_symbol:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: #4c4c4e;
        right: 13px;
        top: 33px;
      }
      .page-new-static-page .plus_symbol:after {
        content: '';
        position: absolute;
        height: 16px;
        background-color: #4c4c4e;
        width: 2px;
        right: 20px;
      }
      .page-new-static-page .inner_faq_section_blocks h2 , .page-new-static-nitric-oxide h2.ttl_replenish {
        font-size: 42px !important;
        text-align: left;
        line-height: 48px;
        margin: 0;
        }
      .page-new-static-page .inner_faq_section_blocks .after_border:after {
        display: none;
      }
      .page-new-static-page .inner_div_faq {
        margin-top: 35px;
      }
      .page-new-static-page .block-mob{
        display: block;
      }
      .page-new-static-page .block-desc{
        display: none;
      }
      .static-faq-desc.mob_title {
        opacity: 0.702;
        font-size: 26px;
        line-height: 30px;
        color: #384151;
        font-weight: 800;
        margin: 0;
        text-align: left;
      }
      
    }
    @media (max-width: 767px){
    .faq_btn .btn{min-width: 298px;font-size: 22px;line-height: 34px;}
    .faq-bottom-text a.bottom_text {font-size: 20px;}  
      
    }
    @media (max-width: 567px){
    .page-new-static-page .ttl_dv {font-size: 18px;line-height: 40px;}
     .page-new-static-page .plus_symbol:after {top: 16px;}
    .page-new-static-page .plus_symbol:before {top: 22px;}
    /* .faq_section_blocks{padding-top: 80px !important;padding-bottom: 50px !important;} */
    .ttl_dv{order:1;}
    .plus_symbol{order:2;}
    .faq_ttl{border-radius: 0; background: transparent;border-bottom: 3px solid #e5e5e5;border-right: 0;border-top: 0;border-left: 0;}
    .faq-bottom-text a.bottom_text {font-size: 18px;padding: 15px 10px;width: 100%;}
    }
    @media (max-width: 479px) {
    .faq_btn .btn { min-width: auto;font-size: 18px;line-height: 25px;border-radius: 11px;}.page-new-static-page .ttl_dv {line-height: 28px;}
    .page-new-static-page .plus_symbol:after {top: 8px;}
    .page-new-static-page .plus_symbol:before {top: 15px;}
    .info-btn sapn{ display:none !important;}
    .faq-bottom-text a.bottom_text {
        font-size: 18px;
        padding: 12px 15px;
        max-width: 100%;
        font-weight: 900;
        padding: 20px 30px;
        display: block;
        width: 100%;
        border-radius: 70px;
        background-color: red;
        color: #fff;
        box-shadow: 0 3px 1px #c1c1c1;
        text-align: center;
    }
    }
</style>
{% schema %}
  {
    "name": "Faq Block",
    "settings": [
   {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type" : "checkbox",
      "id" : "new_faq",
      "label" : "new_faq"
    },
      {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
      {
      "type": "text",
      "id": "mob_title",
      "label": "static page mobile Title"
    },
      {
      "type": "text",
      "id": "static-desc",
      "label": "static page mobile sub title"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
      {
      "type": "text",
      "id": "btn_ttl",
      "label": "Button Title",
      "default": "BUY NOW &amp; SAVE 20%"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "text",
      "id": "bottom_text",
      "label": "Bottom Button Label"
    },
    {
      "type": "url",
      "id": "bottom_btn_url",
      "label": "Bottom Button Url"
    },  
    {
        "type": "range",
        "id": "padding_top",
        "min": 25,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "padding top",
        "default": 25 
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 25,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "padding bottom",
      "default": 25
    }
    ],
    "blocks": [{
        "type": "faq_section",
      "name":"Faq Section",
      "settings": [{
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Faq Content"
      }]
    }],
    "presets": [{
      "name": "Faq Block",
      "category": "text"
    }]
  }
{% endschema %}