{{ 'icon-bar.css' | asset_url | stylesheet_tag }}

{% style %}
  {% if section.settings.bg_color != blank %}
    .bg_color_{{ section.id }} {
      background-color: {{ section.settings.bg_color }};
    }
  {% endif %}  
  {% if section.settings.font-color != blank %}
    .bg_color_{{ section.id }} h3{
      color: {{ section.settings.font-color }};
    }
  {% endif %}  
{% endstyle %}  

<div class="icon-bar  bg_color_{{ section.id }}">
  <div class="page-width">
    <div class="icon-bar-wrapper">
      {% for block in section.blocks %}
        {% if block.settings.image != blank %}
          <div class="icon-bar-items">
            <img src="{{ block.settings.image | img_url: 'master' }}" />
            {% if block.settings.title != blank %} <h3 class="title">{{ block.settings.title }}</h3> {% endif %}
          </div>
        {% endif %}  
      {% endfor %}  
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Icon Bar",
    "settings": [
      {
        "type":"color",
        "id":"bg_color",
        "label":"Background Color"
      },
      {
        "type":"color",
        "id":"font-color",
        "label":"Font Color"
      }
    ],
    "blocks":[
      {
        "type":"text-image",
        "name":"Image Text",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type":"text",
            "id":"title",
            "label":"Title"
          }          
        ]
      }
    ],
    "presets":[
      {
        "name":"Icon Bar"
      }
    ]
  }
{% endschema %}