<div class="huge_guarantee {% if section.settings.image != blank %}{{ section.id }}_bg_img{% endif %}"  style="padding-top:{{ section.settings.padding_top }}px;padding-bottom:{{ section.settings.padding_bottom }}px;">
  <div class="huge_container">
    {% if section.settings.title != blank %}<h2 class="ttl_replenish red_text">{{ section.settings.title }}</h2>{% endif %}
    {% if section.settings.subtitle != blank %}<span class="ttl_sub white_text">{{ section.settings.subtitle }}</span>{% endif %}
    {% if section.settings.content != blank %}<div class="content_desc white_text">{{ section.settings.content }}</div>{% endif %}
  </div>
</div>
<style>
   .{{ section.id }}_bg_img{background: url({{ section.settings.image | img_url:'master' }}) no-repeat scroll 0 0; background-size: cover;}}
  </style>
{% schema %}
  {
    "name": "Huge Guarantee",
    "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Background Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "SubTitle"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
        "type": "range",
        "id": "padding_top",
        "min": 25,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "padding top",
        "default": 25 
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 25,
      "max": 500,
      "step": 5,
      "unit": "px",
      "label": "padding bottom",
      "default": 25
    }
    ],
    "presets": [{
      "name": "Huge Guarantee Nitric Oxide",
      "category": "text"
    }]
  }
{% endschema %}