<div class="risk-free" style="background-image: url({{ section.settings.bg_img | img_url: 'master' }});">
  <div class="page-width">
    <div class="risk-free-content">
      <h2>{{ section.settings.title }}</h2>
      <p class="free-sub-title">{{ section.settings.sub-title }}</p>
      <div class="free-desc">
        {{ section.settings.free-desc }}
      </div>
    </div>
    <div class="money-back-card">
      <div class="money-back">
      {% if section.settings.logo != blank %}
      <div class="money-back-logo">
        <img src="{{ section.settings.logo | img_url: 'master' }}">
      </div>
      {% endif %}
      <h4>{{ section.settings.guarantee-title }}</h4>
      <p>{{ section.settings.guarantee-desc }}</p>
      <h5>{{ section.settings.free }}</h5>
      <a href="{{ section.settings.link }}" class="buy-now trigger_click_btn">{{ section.settings.btn-txt }}</a>
    </div>
    </div>
    
  </div>
  
</div>

<style>
  .risk-free{
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    position: relative;
  }
  .risk-free .page-width {max-width: 1310px;}
  .risk-free-content {
    text-align: center;
}
  .risk-free-content h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    text-transform: inherit;
    letter-spacing: 0.01px;
    margin-bottom: 0;
    line-height: 54px;
}
  .free-sub-title {
    position: relative;
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
    opacity: 0.702;
    padding-bottom: 20px;
}
  .free-sub-title:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: rgba(255,255,255,0.5019607843137255);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
  .free-desc p {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
}
  .money-back {
    border-radius: 35px;
    background-color: #0075ba;
    max-width: 878px;
    width: 100%;
    position: relative;
    padding: 180px 50px 40px 50px;
    text-align: center;
    box-shadow: 0px 20px 20px -10px #b0b0b0;
}
  .money-back-logo {
    position: absolute;
    top: -105px;
    left: 50%;
    transform: translateX(-50%);
}
  .money-back h4 {
    font-size: 42px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #fafcfc;
    font-weight: 900;
    filter: drop-shadow(0px -2px 1px rgba(255,255,255,0.54));
    filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.28));
    margin-bottom: 20px;
}
  .money-back p {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    filter: drop-shadow(0px 2px 0px rgba(0,0,0,0.33));
    margin-bottom: 40px;
}
  .money-back h5 {
    font-size: 48px;
    line-height: 38px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    filter: drop-shadow(0px -2px 1px rgba(255,255,255,0.54));
    filter: drop-shadow(0px 3px 1.5px rgba(0,0,0,0.28));
    margin-bottom: 35px;
}
  .buy-now {
    font-size: 36px;
    line-height: 56px;
    text-transform: uppercase;
    color: #384151;
    font-weight: 900;
    height: 100px;
    border-radius: 50px;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
}
  .money-back-card {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
}
  .page-new-static-page .inner_faq_section_blocks h2 {
    font-size: 48px;
    line-height: 80px;
    color: #384151;
    font-weight: 800;
}
  .page-new-static-page .after_border::after{
      background: #384151;
  }
  .page-new-static-page .inner_body_faq {
    background: #384151;
    border: 1px solid #e5e5e5;
}
  .page-new-static-page .acc_ttl {
    text-align: start;
}
  @media screen and (max-width: 992px){
    .risk-free-content h2 {
      font-size: 42px;
    }
    .free-sub-title {
      font-size: 26px;
      line-height: 30px;
    }
    .free-desc p {
      font-size: 22px;
      line-height: 30px;
    }
    .money-back {
      padding: 160px 25px 40px 25px;
    }
    .money-back-logo {
      top: -110px;
    }
    .money-back h4 {
      font-size: 44px;
      line-height: 44px;
    }
    .money-back-card {
      left: 25%;
      transform: translateX(-18%);
    }
    .buy-now {
      font-size: 30px;
      height: 80px;
    }
  }
  @media screen and (max-width: 567px){
    .money-back {
      padding: 125px 15px 40px 15px;
    }
    .money-back-logo {
      top: -90px;
    }
    .money-back h4 {
      font-size: 28px;
      line-height: 36px;
    }
    .money-back p {
      font-size: 16px;
      line-height: 20px;
    }
    .money-back h5 {
      font-size: 32px;
      line-height: 26px;
    }
    .buy-now {
      font-size: 24px;
      line-height: 23px;
      height: 60px;
      padding: 0 15px;
    }
    .page-new-static-nitric-oxide .risk-free {padding-bottom: 380px;}
    .free-desc p {font-size: 16px;}
     .risk-free{
        padding-bottom: 361px;
           padding-top: 50px;
      }
  }
  @media screen and (max-width: 390px){
    .money-back {padding: 70px 9px 40px 8px;}
    .money-back h4 {font-size: 21px;line-height: 32px;}
    .page-new-static-nitric-oxide .risk-free {padding-bottom: 280px;}
    .buy-now {    font-size: 21px;}
    .money-back h5 {    font-size: 28px;}
     .risk-free{
        padding-bottom: 292px;
      }
    .money-back-card{
        left: 23%;
        transform: translateX(-18%);
        width: 84%;
    }
  }
   
</style>

{% schema %}
  {
    "name": "risk-free",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Sub Title"
      },
      {
        "type": "richtext",
        "id": "free-desc",
        "label": "Description"
      },
      {
        "type": "header",
        "content": "Guarantee Card"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Guarantee Logo"
      },
      {
        "type": "text",
        "id": "guarantee-title",
        "label": "Guarantee Title"
      },
      {
        "type": "text",
        "id": "guarantee-desc",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "free",
        "label": "text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "btn-txt",
        "label": "Button Text"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Padding Top",
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 500,
        "step": 5,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "risk free"
      }
    ]
  }
{% endschema %}