{%- if section.settings.slideshow_height == 'adapt' -%}
  {% comment %}
    'min_aspect_ratio' is the minimum aspect ratio of images shown without
    whitespace when 'slideshow_height' is set to 'adapt'.
    The aspect ratio values for the first image in the slideshow will be used
    unless it is blank, in that case a ratio of 2:1 will be used.
  {% endcomment %}

  {%- assign first_block = section.blocks[0] -%}
  {%- if first_block.settings.image.aspect_ratio == blank -%}
    {%- assign min_aspect_ratio = 2.0 -%}
  {%- else -%}
    {%- assign min_aspect_ratio = first_block.settings.image.aspect_ratio -%}
  {%- endif -%}
  {% assign wrapper_height = 100 | divided_by: min_aspect_ratio %}
{%- endif -%}

{%- assign text_alignments = section.settings.text_alignment | split: ' ' -%}
{%- assign text_horizontal_alignment = text_alignments.first -%}
{%- assign text_vertical_alignment = text_alignments.last | strip -%}

<div data-section-id="{{ section.id }}" data-section-type="slideshow-section">
  {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper" role="region" aria-label="slideshow" aria-describedby="slideshow-info" tabindex="-1">
      <div class="slideshow slideshow_blog slideshow_two slideshow--{{ section.settings.slideshow_height }}{% if display_controls %} slideshow--display-controls{% endif %}"
           id="Slideshow-{{ section.id }}"
           data-autorotate="{{ section.settings.autorotate }}"
           data-speed="{{ section.settings.autorotate_speed | times: 1000 }}"
           data-adapt-height="{% if section.settings.slideshow_height == 'adapt' %}true{% else %}false{% endif %}"
           data-slide-nav-a11y="{{ 'sections.slideshow.load_slide' | t: slide_number: '[slide_number]' }}"
           {% if section.settings.slideshow_height == 'adapt' %}data-min-aspect-ratio="{{ min_aspect_ratio }}"
           style="height: {{- wrapper_height -}}vw"{% endif %}>

        {%- for block in section.blocks -%}
         {%- if block.type == "image" -%}
          {%- assign block_image = block.settings.image -%}
          <div class="slideshow__slide slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block_image == blank %}
              <div class="slideshow__image js">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                {% if section.settings.show_overlay %}<div class="slideshow__overlay"></div>{% endif %}
              </div>
            {% else %}
              <div
                   {% unless block_image.alt == blank %}
                   role="img"
                   aria-label="{{ block_image.alt | escape }}"
                   data-alt="{{ block_image.alt | escape }}"
                   {% endunless %}
                   class="slideshow__image box ratio-container lazyload{% unless forloop.first %} lazypreload{% endunless %} js"
                   data-bg="{{ block_image | img_url: '300x300' }}"
                   data-bgset="{% include 'bgset', image: block_image %}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   style="background-position: {{ block.settings.alignment }};
                          background-image: url('{{ block_image | img_url: '300x300' }}');">
                {% if section.settings.show_overlay %}<div class="slideshow__overlay"></div>{% endif %}
              </div>
            {% endif %}

            <noscript>
              <div class="slideshow__image"{% if block_image %}{% unless block_image.alt == blank %} role="img" aria-label="{{ block_image.alt | escape }}"{% endunless %} style="background-image: url('{{ block_image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                {% if block_image == blank %}
                  <div class="placeholder-background">
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            </noscript>

            <div class="slideshow__text-wrap slideshow__text-wrap--desktop">
              <div class="slideshow__text-content tuc_{{ block.settings.tuc }} slideshow__text-content--vertical-{{ text_vertical_alignment }} text-{{ text_horizontal_alignment }}">
                <div class="page-width">
                  {% unless block.settings.slide_title == blank and block.settings.subheading == blank %}
                  {%- assign f_s = '' -%}
                      {%- assign slide_f_s = block.settings.slide_title.size -%}
                      {%- if slide_f_s < 16 -%}
                      	{%- assign f_s = 'x-large-f' -%}
                      {%- elsif  slide_f_s > 15 and slide_f_s < 44 -%}
                      	{%- assign f_s = 'large-f' -%}
                      {%- elsif  slide_f_s > 43 -%}
                      	{%- assign f_s = 'medium-f' -%}
                      {%- else -%}
                      {%- endif -%}
                    <ul class="slideshow__text-content-list">
                      {%- unless block.settings.slide_title == blank -%}
                        <li>
                          <h2 class="no-ls {{f_s}} h1 heading-font mega-title slideshow__title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}{% if block.settings.slide_title contains 'border-bottom' %} slideshow__title-bb{% endif %}">
                            {{ block.settings.slide_title | replace:'class="border-bottom','class="h-border-bottom' }}
                          </h2>
                        </li>
                      {%- endunless -%}
                      {%- unless block.settings.subheading == blank -%}
                        <li>
                          <span class="{% unless block.settings.slide_title == blank and block.settings.subheading == blank %}h-border-bottom{% endunless %} mega-subtitle slideshow__subtitle slideshow__subtitle--desktop{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                            {{ block.settings.subheading | escape }}
                          </span>
                        </li>
                      {%- endunless -%}                      
                      {%- unless block.settings.detail == blank -%}<li>
                        <div class="slideshow_detail{% if section.settings.text_size == 'large' %} mega-detail--large{% endif %} small--hide">{{ block.settings.detail | replace:'&lt;','<' | replace:'&gt;','>' | replace:'&quot;','"' }}</div>
                      </li>{%- endunless -%}
                      {%- if block.settings.show_in_des -%}
                      <li class="slideshow__fblock_li--desktop slideshow__fblock_li {{ block.settings.show_in_des }} fblock_li_img fblock_{{block.id}} fw-heavy small--hide ">
                          <div class="h_fea-grid-{{block.settings.show_in_des}}"><img data-src="{{ block.settings.fbt_desk | img_url:'575x' }}" class="lazyload" width="auto" height="auto"/> </div></li>
                      {%- else -%}
                        {%- capture feature_block -%}
                        {%- for i in (1..4) -%}
                        {%- capture bt -%}fbt{{i}}{%- endcapture -%}
                        {%- if block.settings[bt] != blank -%}
                        <li class="h_fea-item">
                          <div class="h_fea-item-wrapper">
                            <img data-src="{{ block.settings[bt] | img_url:'125x' }}" class="lazyload" width="auto" height="auto" />
                            <div class="img_mirror"><img data-src="{{ block.settings[bt] | img_url:'125x' }}" class="lazyload" width="auto" height="auto" /></div>
                          </div>
                        </li>                      
                        {%- endif -%}
                        {%- endfor -%}
                        {%- endcapture -%}                      
                      {%- if feature_block != blank -%}
                        <li class="slideshow__fblock_li--desktop slideshow__fblock_li fblock_li_img fblock_{{block.id}} fw-heavy small--hide ">
                          <ul class="h_fea-grid">{{ feature_block }}</ul></li>
                        {%- endif -%}
                      {%- endif -%}
                    </ul>
                  {% endunless %}

                  {%- assign show_link_button = false -%}
                  {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                    {%- assign show_link_button = true -%}
                  {%- endif -%}
                  {%- if show_link_button -%}
                    <div class="slideshow__btn-wrapper small--hide{% if block.settings.slide_title != blank or block.settings.subheading != blank %} slideshow__btn-wrapper--push{% endif %}">
                      <a href="{{ block.settings.button_link }}" class="btn {{ block.settings.button_style }} btn-round_{{ block.settings.cricle_b }} slideshow__btn tt-none">
                        {{ block.settings.button_label | escape }}
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
         {%- endif -%}
        {%- endfor -%}
      </div>
      <div class="slideshow__controls">
        {%- if section.blocks.size > 2 -%}
          {%- assign arrows_width = section.blocks.size | times: 18 | plus: 115 -%}
          <div class="slideshow__arrows"
               style="width: {{- arrows_width -}}px">
            <button class="slideshow__arrow slideshow__arrow-left" aria-label="{{ 'sections.slideshow.previous_slide' | t }}">{% include 'icon-chevron-left' %}</button>
            <button class="slideshow__arrow slideshow__arrow-right" aria-label="{{ 'sections.slideshow.next_slide' | t }}">{% include 'icon-chevron-right' %}</button>
          </div>
          {%- if section.settings.autorotate -%}
            <button type="button" class="slideshow__pause" data-id="{{ section.id }}" aria-live="polite" aria-pressed="false">
              <span class="slideshow__pause-stop">
                {% include 'icon-pause' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
              </span>
              <span class="slideshow__pause-rotate">
                {% include 'icon-play' %}
                <span class="icon__fallback-text">{{ 'sections.slideshow.rotate_slideshow' | t }}</span>
              </span>
            </button>
          {%- endif -%}
        {%- endif -%}
      </div>
    </div>
    <div class="slideshow__text-wrap slideshow__text-wrap--mobile">
      {% if section.blocks.size > 2 %}
        <div class="slideshow__arrows slideshow__arrows--mobile">
          <button class="slideshow__arrow slideshow__arrow-left" aria-label="{{ 'sections.slideshow.previous_slide' | t }}">{% include 'icon-chevron-left' %}</button>
          <button class="slideshow__arrow slideshow__arrow-right" aria-label="{{ 'sections.slideshow.next_slide' | t }}">{% include 'icon-chevron-right' %}</button>
        </div>
      {% endif %}
      {%- for block in section.blocks -%}
       {%- if block.type == "image" -%}
        {%- assign show_text = false -%}
        {%- unless block.settings.slide_title == blank and block.settings.subheading == blank -%}
          {%- assign show_text = true -%}
        {%- endunless -%}
        {%- assign show_link_button = false -%}
        {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
          {%- assign show_link_button = true -%}
        {%- endif -%}
        {%- if show_text or show_link_button -%}
          <div class="slideshow__text-content slideshow__mobile--{{ block.id }} slideshow__text-content--mobile medium-up--hide slideshow__text-content--mobile-{{ forloop.index0 }} text-center">
            <div class="page-width">
              {%- unless block.settings.slide_title == blank -%}
              {%- assign f_s = '' -%}
                      {%- assign slide_f_s = block.settings.slide_title.size -%}
                      {%- if slide_f_s < 16 -%}
                      	{%- assign f_s = 'x-large-f' -%}
                      {%- elsif  slide_f_s > 15 and slide_f_s < 44 -%}
                      	{%- assign f_s = 'large-f' -%}
                      {%- elsif  slide_f_s > 43 -%}
                      	{%- assign f_s = 'medium-f' -%}
                      {%- else -%}
                      {%- endif -%}
                <h2 class="h1 {{f_s}} heading-font no-ls mega-title slideshow__title slideshow__title--mobile{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}">
                  {{ block.settings.slide_title }}
                </h2>
              {%- endunless -%}
              {%- unless block.settings.subheading == blank -%}
                <span class="mega-subtitle slideshow__subtitle slideshow__subtitle--mobile{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}">
                  {{ block.settings.subheading | escape }}
                </span>
              {%- endunless -%}
              {%- unless block.settings.detail == blank -%}
                        <div class="slideshow_detail{% if section.settings.text_size == 'large' %} mega-detail--large{% endif %}">{{ block.settings.detail  | replace:'&lt;','<' | replace:'&gt;','>' | replace:'&quot;','"'  }}</div>
                      {%- endunless -%}
               {%- capture feature_block -%}
                      {%- for i in (1..4) -%}
                      {%- capture bt -%}fbt{{i}}{%- endcapture -%}
                      {%- if block.settings[bt] != blank -%}
                      <li class="h_fea-item">
                        <div class="h_fea-item-wrapper">
                          <img data-src="{{ block.settings[bt] | img_url:'125x' }}" class="lazyload" width="auto" height="auto" />
                        </div>
                      </li>
                      {%- endif -%}
                      {%- endfor -%}
                      {%- endcapture -%}                      
                      {%- if feature_block != blank -%}
                      <div class="slideshow__fblock_li--mobile slideshow__fblock_li fblock_li_img fblock_{{block.id}} fw-heavy medium-up--hide"><ul class="h_fea-grid">{{ feature_block }}</ul></div>
                      {%- endif -%}

              {%- if show_link_button -%}
                <a href="{{ block.settings.button_link }}" class="btn btn-round_{{ block.settings.cricle_b }} slideshow__btn slideshow__btn--mobile medium-up--hide">
                  {{ block.settings.button_label | escape }}
                </a>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
       {%- endif -%}
      {%- endfor -%}
    </div>
  {%- for block in section.blocks -%}
  	{%- if block.type == "newsletter" -%}
  <div class="banner_newsletter b_news-{{ block.id }}">
    <div class="page-width">
      <div class="b_news_inner">
        <div class="b_news_item b_news_item_left">
          {%- if block.settings.title != blank -%}<h4 class="h4-large tt-uppercase">{{- block.settings.title -}}</h4>{%- endif -%}
          {%- if block.settings.detail != blank -%}<div class="text-detail">{{- block.settings.detail -}}</div>{%- endif -%}
        </div>
        <div class="b_news_item b_news_item_right">
          {%- if block.settings.show_klviyo -%}
          {% capture _class %}class=|contact-form custom_klviyo_form custom_klviyo_form--{{ block.id }} {% endcapture %}
          {%- assign _class = _class | replace:'|','"' -%}
          	{{ block.settings.klviyo_form | replace:'class="',_class }}          
          {%- else -%}
          {%- assign formId = 'Contact_' | append: block.id -%}
          {% form 'customer', id: formId, validate: 'validate', class: 'contact-form form-single-field' %}
          {%- if form.posted_successfully? -%}
          <p class="form-message form-message--success" tabindex="-1" data-form-status>
            {{ 'general.newsletter_form.confirmation' | t }}
          </p>
          {%- endif -%}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="input-group {% if form.errors %} input-group--error{% endif %}">
            <input type="email"
                   name="contact[email]"
                   id="{{ formId }}-email"
                   class="input-group__field{% if form.errors %} input--error{% endif %}"
                   value="{{ form.email }}"
                   placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                   aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                   aria-required="true"
                   autocorrect="off"
                   autocapitalize="off" required="required"
                   {% if form.errors %}
                   aria-invalid="true"
                   aria-describedby="{{ formId }}-email-error"
                   data-form-status
                   {% endif %}
                   >
            <span class="input-group__btn">
              <button type="submit" class="btn btn--tertiary" name="commit">
                <span>LET’S GO</span>
              </button>
            </span>
          </div>
          {%- comment -%}{%- if form.errors contains 'email' -%}
          <span id="{{ formId }}-email-error" class="input-error-message">
            <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
            {% include 'icon-error' %}
            <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          </span>
          {%- endif -%}{%- endcomment -%}
          {% endform %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
  	{%- endif -%}
  {%- endfor -%}
  <style type="text/css">
    {%- for block in section.blocks -%}
      {%- if block.settings.button_bg != blank and block.type != "newsletter" -%}
    	.slideshow__slide--{{ block.id }} .btn,.slideshow__mobile--{{ block.id }} .btn{ background-color: {{ block.settings.button_bg }}; }
    {%- if block.settings.text_color != blank -%} .slideshow__slide--{{ block.id }} .slideshow_detail,.slideshow__mobile--{{ block.id }} .slideshow_detail{
      color : {{ block.settings.text_color }};          
    } {%- endif -%}
      {%- endif -%}
    {%- if block.type == "newsletter" -%}
      {%- if block.settings.bg_color != blank -%}
    	.b_news-{{ block.id }} { background-color: {{ block.settings.bg_color }}; }
    	.b_news-{{ block.id }} .b_news_item_right .input-group__field, 
    	.b_news-{{ block.id }} .klaviyo-form>.kl-private-reset-css-Xuajs1 form.kl-private-reset-css-Xuajs1 div.kl-private-reset-css-Xuajs1[data-testid="form-row"]>div input[type="email"].kl-private-reset-css-Xuajs1{ {{- -}}
      	color : {{ block.settings.bg_color }};
          {%- if block.settings.text_color != blank -%}
          background-color : {{ block.settings.text_color }};
          border-color: {{ block.settings.text_color }};
          {%- endif -%}
        }    	
      {%- endif -%}
      {%- if block.settings.text_color != blank or block.settings.show_klviyo -%}
    .b_news-{{ block.id }} .b_news_inner{  color: {{ block.settings.text_color }}; }
      .b_news-{{ block.id }} .b_news_item_right .contact-form .btn, {{--}}
      .b_news-{{ block.id }} .klaviyo-form>.kl-private-reset-css-Xuajs1 form.kl-private-reset-css-Xuajs1 div.kl-private-reset-css-Xuajs1[data-testid="form-row"]>div [type="button"]{ {{--}}
        border-color: {{ block.settings.text_color }}; color: {{ block.settings.text_color }}; 
      }
      {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
  </style>
  {%- endif -%}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "class": "index-section index-section--flush index-section--slideshow",  
  "settings": [
    {
      "type": "select",
      "id": "slideshow_height",
      "label": "Slide height",
      "default": "adapt",
      "info": "Learn more about [slideshow guidelines](https://help.shopify.com/en/manual/using-themes/themes-by-shopify/debut#slideshow-sections-specific)",
      "options": [
        {
          "label":"Adapt to image",
          "value": "adapt"
        },
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label":"Medium",
          "value": "medium"
        },
        {
          "label":"Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label":"Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label":"Text alignment",
      "default": "center center",
      "options": [
        {
          "label": "Top left",
          "value": "left top"
        },
        {
          "label": "Top center",
          "value": "center top"
        },
        {
          "label": "Top right",
          "value": "right top"
        },
        {
          "label": "Middle left",
          "value": "left center"
        },
        {
          "label":"Middle center",
          "value": "center center"
        },
        {
          "label":"Middle right",
          "value": "right center"
        },
        {
          "label": "Bottom left",
          "value": "left bottom"
        },
        {
          "label": "Bottom center",
          "value": "center bottom"
        },
        {
          "label": "Bottom right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image block",
	  "limit":1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label":"Image"
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image position",
          "default": "center center",
          "options": [
            {
              "label": "Top left",
              "value": "left top"
            },
            {
              "label":"Top center",
              "value": "center top"
            },
            {
              "label": "Top right",
              "value": "right top"
            },
            {
              "label": "Middle left",
              "value": "left center"
            },
            {
              "label": "Middle center",
              "value": "center center"
            },
            {
              "label":"Middle right",
              "value": "right center"
            },
            {
              "label":"Bottom left",
              "value": "left bottom"
            },
            {
              "label": "Bottom center",
              "value": "center bottom"
            },
            {
              "label": "Bottom right",
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Titel",
          "default":"Image Block"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Tell your brand's story through images"
        },
        {
          "type": "richtext",
          "id": "detail",
          "label":"Enter detail"
        },
		{
		  "type":"color",
		  "id":"text_color",
		  "label":"Select text color",
		  "default":"#fff"
		},
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label":"Button link"
        },
		 {
		   "type":"checkbox",
			"label":"Enable cricle button",
			"id":"cricle_b",
			"default":false
		 },
        {
          "type": "color",
          "id": "button_bg",
          "label":"Select btn background color"
        }
      ]
    },
	{
	  "type":"newsletter",
	  "name":"Newsletter",
	  "limit":1,
	  "settings":[
		{
		  "type":"text",
		  "id":"title",
		  "label":"Enter title",
		  "default":"Join the Bioshepere blog newsletter"
		},
		{
		  "type":"textarea",
		  "id":"detail",
		  "label":"Enter detail",
		  "default":"Articles, recipes, Tips, Healthy Hacks... And many more"
		},
		{
		  "type":"color",
		  "id":"bg_color",
		  "label":"Select background color",
		  "default":"#00a1ae"
		},
		{
		  "type":"color",
		  "id":"text_color",
		  "label":"Select text color",
		  "default":"#fff"
		},
		{
		 "type":"header",
		 "content":"Klaviyo"
		},
		{
		 "type":"checkbox",
		 "id":"show_klviyo",
		 "label":"Show Klaviyo form insted of Shopify newsletter"
		},
		{
		 "type":"html",
		 "id":"klviyo_form",
		 "label":"Put form content Here"
		}
	  ]
	}
  ]
}
{% endschema %}
