<div class="faq-page">
  <div class="page-width">
    <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
    <div class="pd-header">
      <h1>{{ page.title }}</h1>
    </div>  
    {%- capture faq -%}
    {%- for q in page.metafields.faq.question -%}
    {%- assign index = forloop.index -%}
    {{q}}_q_
    {%- for a in page.metafields.faq.answer -%}
    {%-  if index == forloop.index -%}
    {{- a -}}
    {%- break -%}
    {%- endif -%}
    {%- endfor -%}[split]
    {%- endfor -%}
    {%- endcapture -%}
    {%- assign faqs = faq | strip_newlines -%}          
    {%- if faq != blank -%}
    {%- assign faqs = faq | split:'[split]' -%}          
    <ul class="faq-block">
      {%- for faq in faqs -%}
      {%- if faq != blank -%}              
      {%- assign _faq = faq | split:'_q_' -%}              
      <li class="faq-li{% if forloop.first %} active{% endif %}">
        <h4 class="faq-que">{{ _faq | first }}<span class="faq-plunus"></span></h4>
        <div class="faq-ans"><div class="inner-ans">{{ _faq | last }}</div></div>
      </li>{%- endif -%}
      {%- endfor -%}              
    </ul>{%- endif -%}
      {%- include 'faq-script' -%}    
  </div>
      </div>
  </div>
</div>